In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [33]:
box_office_gross = pd.read_csv('bom.movie_gross.csv')
print(box_office_gross.shape)
box_office_gross.isna().sum()

(3387, 5)

title                0
studio               5
domestic_gross      28
foreign_gross     1350
year                 0
dtype: int64

In [34]:
name_basics = pd.read_csv('name.basics.csv')
print(name_basics.shape)
name_basics.isna().sum()
# remove 'birth_year' and 'death_year' columns

(606648, 6)

nconst                     0
primary_name               0
birth_year            523912
death_year            599865
primary_profession     51340
known_for_titles       30204
dtype: int64

In [35]:
rt_info = pd.read_csv('rt.movie_info.tsv', delimiter='\t')
print(rt_info.shape)
rt_info.isna().sum()

(1560, 12)

id                 0
synopsis          62
rating             3
genre              8
director         199
writer           449
theater_date     359
dvd_date         359
currency        1220
box_office      1220
runtime           30
studio          1066
dtype: int64

In [36]:
rt_reviews = pd.read_csv('rt.reviews.tsv', delimiter='\t', encoding = 'unicode_escape')
print(rt_reviews.shape)
rt_reviews.isna().sum()
# disregard entire file

(54432, 8)

id                0
review         5563
rating        13517
fresh             0
critic         2722
top_critic        0
publisher       309
date              0
dtype: int64

In [47]:
alt_title_names = pd.read_csv('title.akas.csv')
print(alt_title_names.shape)
alt_title_names.isna().sum()
# remove 'attributes' 'language' and 'types' columns

(331703, 8)

title_id                  0
ordering                  0
title                     0
region                53293
language             289988
types                163256
attributes           316778
is_original_title        25
dtype: int64

In [46]:
title_basics = pd.read_csv('title.basics.csv')
print(title_basics.shape)
title_basics.isna().sum()
# edit 'runtime_minutes' column
# set null 'original_title' equal to 'primary_title'

(146144, 6)

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [39]:
title_crew = pd.read_csv('title.crew.csv')
print(title_crew.shape)
title_crew.isna().sum()

(146144, 3)

tconst           0
directors     5727
writers      35883
dtype: int64

In [45]:
title_principals = pd.read_csv('title.principals.csv')
print(title_principals.shape)
title_principals.isna().sum()
# remove 'job' and 'characters' columns

(1028186, 6)

tconst             0
ordering           0
nconst             0
category           0
job           850502
characters    634826
dtype: int64

In [41]:
title_ratings = pd.read_csv('title.ratings.csv')
print(title_ratings.shape)
title_ratings.isna().sum()

(73856, 3)

tconst           0
averagerating    0
numvotes         0
dtype: int64

In [42]:
tmdb_movies = pd.read_csv('tmdb.movies.csv')
print(tmdb_movies.shape)
tmdb_movies.isna().sum()

(26517, 10)

Unnamed: 0           0
genre_ids            0
id                   0
original_language    0
original_title       0
popularity           0
release_date         0
title                0
vote_average         0
vote_count           0
dtype: int64

In [43]:
movie_budgets = pd.read_csv('tn.movie_budgets.csv')
print(movie_budgets.shape)
movie_budgets.isna().sum()

(5782, 6)

id                   0
release_date         0
movie                0
production_budget    0
domestic_gross       0
worldwide_gross      0
dtype: int64